extends layout

mixin addButton(cmd, icon, name)
	button.btn.btn-primary.mr-2(v-on:click=("sendCommand('" + cmd + "')"))&attributes(attributes)
		i.icon.mr-2(class=("icon-" + icon))
		= name

block content
	.container
		.columns.flex-x-center
			.column.col-3.col-xl-4.col-lg-5.col-md-6.col-sm-12
				.panel
					.panel-header.text-center
						h4.panel-title Control Panel
					.panel-body
						pre.code(v-html="output || 'Start with the \"help\" command.'")
					.panel-footer
						.input-group
							input.form-input(type="text" v-model="cmd" v-on:keyup.enter="sendCommand()" placeholder="help")
							button.btn.btn-primary.input-group-btn(type="submit" v-on:click="sendCommand()" v-bind:disabled="running" v-bind:class="{ loading: running }") Run
			.column.col-3.col-xl-4.col-lg-5.col-md-6.col-sm-12
				.panel
					.panel-header.text-center
						h4.panel-title Server Status
						if server.info
							b.panel-subtitle= server.info.name
					.panel-body
						if server.info && server.players
							pre.py-0.my-1
								.icon.icon-location.mx-1
								= server.info.map
							.py-0.my-1
								.icon.icon-people.mx-1
								= server.info.players + " / " + server.info.maxplayers
						if !server.info
							.text-error Server offline
						else if server.info && server.players
							table.table(v-if="server.info.players > 0")
								thead: tr
									th Name
									th Time online
								tbody: tr(v-for="(ply) in server.players")
									td(v-html="ply.name")
									td(v-html="niceTime(ply.online)")
					.panel-footer
						+addButton("stop", "shutdown", "Shutdown")(v-if="server.info")
						+addButton("start", "shutdown", "Start")(v-else)
						+addButton("restart", "refresh", "Restart")
