doctype html
html
	head
		title Re-Dream Control Panel
		link(rel="stylesheet", href="/css/style.css")
		if user && user.username
			script(src="http://code.jquery.com/jquery-3.3.1.min.js")
			script(src="/js/main.js")
	body
		.container
			.content
				block content
