doctype html
html
	head
		title Re-Dream Control Panel
		link(rel="stylesheet" href="./css/style.css")
		if values
			script var pugLocals = !{values.replace(/#<\//g, "<\\/")}
		script(src="https://code.jquery.com/jquery-3.3.1.min.js")
		script(src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js")
		script(src="./js/cookie.js")
		script(src="./js/main.js")
	body
		#app(v-bind:class="{ 'dark-theme': darkTheme }")
			header.navbar
				section.navbar-section(style="margin-left: 10%;")
					a.btn.btn-link(href="./") Home
					a.btn.btn-link(href="./config") Configuration
				section.navbar-center(v-if="!darkTheme")
					img(src="./img/logo.png" height=32)
				section.navbar-section(style="margin-right: 10%;")
					if user
						.dropdown.dropdown-right
							a.btn.btn-link.dropdown-toggle.p-0(href="#" tabindex="0")
								.d-flex.flex-center(style="height: 100%;")
									figure.avatar.avatar-sm.ml-2
										img(src=user.avatar.large)
									.px-2= user.username
							ul.menu.text-right(style="min-width: 120px;")
								li.menu-item
									a(href="./logout") Logout
			h1.text-center Re-Dream
			block content
			.columns.flex-center.my-2(v-if="finished")
				.col-2.col-sm-12
					.toast.toast-primary(v-bind:class="{ 'toast-success': success, 'toast-error': failed }") {{ reason }}
			footer
				.footer-section
					label.form-checkbox.ml-2.pr-0
						input(type="checkbox" v-model=("darkTheme") v-on:change="saveTheme")
						i.form-icon
						| Dark Theme
				.footer-center
					a(href="https://re-dream.org") re-dream.org
					| &nbsp;- created by&nbsp;
					a(href="https://tenrys.pw") Tenrys
					| &nbsp;-&nbsp;
					a(href="https://github.com/Re-Dream/rcon") GitHub
				.footer-section
